#!/bin/sh
export DISCORD_TOKEN=xxx
export DISCORD_CHANNEL="test"

export KANBANERY_API_KEY=xxx
export KANBANERY_BOARD_URL="https://name.kanbanery.com/projects/12345"
export FETCH_INTERVAL=300 # 5 minutes
